.homePageWrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   color: #4e4a85;
   height: 100vh;
}

.hom{
   height: 0px;
}
.homImage{
   height: 45px;
   margin-left: 20px;
   margin-top: 20px;
}

.textHome{
   position: absolute;
   font-size: 20px;
   margin-left: 13px;
   margin-top: 25px;
   color: #a6a6a6;
}

.formWrapper {
   background: #181818;
   padding: 20px;
   border-radius: 5px;
   width: 400px;
   max-width: 90%;
}

footer {
   position: fixed;
   bottom: 0;
   font-size: 14px;
}
footer a {
   color: #a6a6a6;
   text-decoration: none;
   border-bottom: 1px solid #a6a6a6;
}

.inputGroup {
   display: flex;
   flex-direction: column;
}

.ok{
   margin-bottom: 30px;
   margin-top: -5px;
   font-size: 13px;
   color: #a6a6a6;
   font-family:sans-serif;
   letter-spacing: 2px;
}

.homePageLogo {
   height: 100px;
   margin-bottom: 15px;
}

.inputBox {
   padding: 10px;
   outline: none;
   border: none;
   margin-bottom: 5px;
   background: #4e4a85;
   font-size: 13px;
   color: #181818;
}

.btn {
   border: none;
   margin-top: 4px;
   padding: 8px 10px;
   border: 1px solid #4e4a85;
   font-family: sans-serif;
   background: 0 0;  
   color: #4e4a85;
   font-size: 11.5px;
   cursor: pointer;
   letter-spacing: 3px;
}

.joinBtn,
.leaveBtn {
   width: 85px;
   margin-left: auto;
}

.joinBtn:hover,
.leaveBtn:hover {
   background: #4e4a85;
   color: #181818;
   transition: all 0.3s ease-in-out;
}

.createInfo {
   font-size: 13px;
   margin: 0 auto;
   margin-top: 20px;
}

.createNewBtn {
   color: #a6a6a6;
   text-decoration: none;
   border-bottom: 1px solid #a6a6a6;
}

.createNewBtn:hover,
footer a:hover {
   color: #4e4a85;
   border-color: #4e4a85;
   transition: all 0.3s ease-in-out;
}