.mainWrap {
   display: grid;
   grid-template-columns: 210px 1fr;
   grid-template-rows: 600px;

}

.aside {
   background-color: #181818;
   padding-left: 15px;
   padding-right: 15px;
   color: #4e4a85;
   display: flex;
   flex-direction: column;
   height: 100vh;
}

.asideInner {
   flex: 1;
}

.clientsList {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap: 30px;
   justify-content: center;
}

.people{
   color: #a6a6a6;
}
.logo {
   border-bottom: 1px solid #a6a6a6;
   padding-bottom: 8px;
   margin-top: 10px;
}

.logoImage {
   height: 53px;
}

.copyBtn:hover{
   background: #4e4a85;
   color: #181818;
   transition: all 0.3s ease-in-out;
}

.leaveBtn{
   width: 100%;
   margin-top: 10px;
   margin-bottom: 15px;
   padding: 8px 10px;   
   border: 1px solid #4e4a85;
   background: 0 0;
   color: #4e4a85;
      font-size: 11.5px;
      cursor: pointer;
      letter-spacing: 3px;
}